* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
aside {
    position: fixed;
    top: 0;
    width: 250px;
    border-right: 1px solid #eee;
    left: 0;
    height: 100vh;
    padding: 15px;
}
ul {
    list-style: none;
}
li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
}
li.active {
    background-color: #0077ff1c;
    border-color: #0075ff;
}
li:hover {
    background-color: #f1f1f1;
}
li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #f6f6f8;
    border-radius: 50%;
    margin-right: 10px;
    pointer-events: none;
}
li .icon i {
    font-size: 16px;
    color: #999;
}
li h3 {
    font-size: 14px;
    color: #333;
    pointer-events: none;
}
li p {
    font-size: 12px;
    color: #999;
    pointer-events: none;
}
section {
    margin-left: 250px;
    padding: 15px;
}
.box {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 6px;
}
.box h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: #333;
}
.box p {
    padding: 5px 0;
    color: #555;
    line-height: 2;
}
.box:not(:last-child) {
    margin-bottom: 10px;
}